<div class="responsive p-0">
    <div class="advertisement-form">
        <form (ngSubmit)="registerUnit()" #unitForm=ngForm>
            <!-- {{unitForunit_detailsm.valation_detailsue|json}} -->
            <div class="row">
                

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <label>Unit*:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" type="text" name="unit_name" placeholder="Enter  "
                        [(ngModel)]="unit_data.unit_name" unit_name required>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <label>Unit abbreviation*:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" type="text" name="abbreviation" placeholder="Enter Uni abbreviation"
                        [(ngModel)]="unit_data.abbreviation" abbreviation required>
                    </div>
                </div>

                <div class="col-md-12">
                    <label>Description*:</label>
                    <div class="form-group">
                        <textarea type="text" class="form-control" type="text" name="description" placeholder="Enter  "
                        [(ngModel)]="unit_data.description" description required></textarea>
                    </div>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <button *ngIf="bfrcreating" type="submit"
                        class="btn btn-primary btn-lg w-100 exit" [disabled]="!unitForm.valid">
                    Add Unit</button>
                    <button *ngIf="creating" class="btn bg-gradient-primary btn-lg w-100"
                        type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                            Creating Unit ...
                    </button>
                </div>
            </div>
        </form>
    </div>

   
</div>