<div class="content" style="margin-top: 10%;">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="text-center">

                <h1 class="text-error mt-4">404</h1>
                <h4 class="text-uppercase text-danger mt-3">Ukurasa haupo</h4>
                <p class=" mt-3">Umejaribu kutembelea ukurasa ambao haupo kwa sasa, Tafadhali bonyeza kitufe kilichopo chini kurudi mwanzo.</p>

                <a href="/home" class="btn btn-info mt-3" type="button"><i class="mdi mdi-reply"></i> Rudi Mwanzo</a>
            </div>
            <!-- end /.text-center-->
        </div>
        <!-- end col-->
    </div>
    <!-- end row -->
    <!-- end row -->

</div>
<!-- End Content -->
<app-footer></app-footer>