<div class="responsive mt-3 p-0">

    <div class="row mb-3">
        <div class="col-md-8">
            <a routerLink="/add-jot-setting-roles/{{submoduleId}}" class="btn btn-outline-dark rounded-pill"><i class="fal fa-plus fa-lg"></i> Add System Roles</a>
        </div>

        <div class="col-md-4"></div>
    </div>

    <!-- content  -->
    <div class="table-responsive">

        <table class="table table-sm mb-0 table-responsive" id="dataTables">
            <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList; let i = index">
                    <td>{{1+i}}</td>
                    <td>{{role?.name}}</td>
                    <td>
                        <span *ngIf="role?.active" class="badge badge-primary-lighten">Active</span>
                        <span *ngIf="!role?.active" class="badge badge-danger-lighten">Inactive</span>
                    </td>
                    <td class="table-action">
                        <ng-container *ngFor="let access of permission?.action_access">
                            <a *ngIf="access=='edit-roles'" routerLink="/edit-jot-setting-roles/{{role?.id}}/{{submoduleId}}" class="action-icon" title="Badili Taarifa"> <i class="mdi mdi-pencil"></i></a>
                            <a *ngIf="role?.active && access=='deactivate-roles'" href="#deactivate" data-bs-toggle="modal" (click)="showRole(role?.id)" class="action-icon" title="Zuia kutumia"> <i class="mdi mdi-close-circle"></i></a>
                            <a *ngIf="!role?.active && access=='activate-roles'" href="#activate" data-bs-toggle="modal" (click)="showRole(role?.id)" class="action-icon" title="Ruhusu kutumia"> <i class="mdi mdi-check-circle"></i></a>
                            <a *ngIf="access=='update-role-permissions'" href="/role-permission/{{role?.id}}/{{submoduleId}}" class="action-icon" title="permission"> <i class="mdi mdi-cog-clockwise"></i></a>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- end content  -->

</div>






<!-- active   -->
<div id="activate" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="dark-header-modalLabel"><i class="fal fa-radiation fa-lg fa-spin"></i>&nbsp;Warning...!</h4>
                <button type="button" class="btn btn-link text-white ml-auto" data-bs-dismiss="modal">Close</button>
            </div>


            <div class="modal-body text-center" style="margin-top: 5%">
                <i class="text-black">Una uhakika unataka kuruhusu jukumu hili kutumika kwenye mfumo ?</i><br>
                <b class="text-black">{{role_data?.name}}</b>
            </div>


            <div class="modal-footer d-flex justify-content-center mb-3">
                <button *ngIf="general.bfrcreating" (click)="activate(role_data?.id)" data-bs-dismiss="modal" class="btn btn-outline-primary rounded-pill"> Ndio Ruhusu</button>
                <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                It's Loading...
              </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /active  -->


<!-- deactive   -->
<div id="deactivate" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="dark-header-modalLabel"><i class="fal fa-radiation fa-lg fa-spin"></i>&nbsp;Warning...!</h4>
                <button type="button" class="btn btn-link text-white ml-auto" data-bs-dismiss="modal">Close</button>
            </div>


            <div class="modal-body text-center" style="margin-top: 5%">
                <i class="text-black">Una uhakika unataka kuzuia jukumu hili kutumika kwenye mfumo ?</i><br>
                <b class="text-black">{{role_data?.name}}</b>
            </div>


            <div class="modal-footer d-flex justify-content-center mb-3">
                <button *ngIf="general.bfrcreating" class="btn btn-outline-primary rounded-pill" data-bs-dismiss="modal" (click)="deactivate(role_data?.id)"> Ndio Zuia</button>
                <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Inazuia...
              </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /deactive  -->