<app-navbar></app-navbar>
    <div class="wrapper">
        <ng-container *ngIf="maximize">
            <app-sidebar></app-sidebar>
        </ng-container>
       
        <div class="content-page">
            <ng-container *ngIf="maximizer_show">
                <a value="home" (click)="minimizeWindow()"> <i class="fa fa-bars"></i> </a>
            </ng-container>
            <ng-container *ngIf="maximizer_hide">
                <a value="home" (click)="maximizeWindow()"><i class="fa fa-bars"></i></a>
            </ng-container>
        
            <!-- <div class="content"> -->
               
                <div class="row">
                    <div class="card col-12">
                        <div class="card-body">
                            <ng-container *ngFor="let access of permission?.action_access">
                                <div class="row">
                                    <div class="col-md-12" *ngIf="access =='view-employee-detail-list'">
                                        <app-jot-users-details-view></app-jot-users-details-view>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
            <!-- </div> -->
            <app-footer></app-footer>
        </div>
    </div>