<div class="responsive p-0">

    <form (ngSubmit)="editModule()" #Form=ngForm>
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-12 ">
                <label for="name">Name: </label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="data.name" name="name"  placeholder="User Management" aria-label="Module" aria-describedby="module-addon" required>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 ">
                <label for="icon">Symbol: </label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="data.icon" name="icon" placeholder="fal fa-user" aria-label="Icon" aria-describedby="icon-addon" required>
                </div>

            </div>

            <div class="col-xl-4 col-lg-4 col-md-12">
                <br>
                <button *ngIf="general.bfrcreating" type="submit" class="btn btn-outline-dark rounded-pill w-100" [disabled]="!Form.valid">Badili Taarifa</button>

                <button *ngIf="general.creating" class="btn btn-outline-dark rounded-pill w-100" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Inabadili...
                  </button>
            </div>
        </div>
    </form>
</div>