.choose-to-open-selectio{
    width: 25%;
    background:white;
    padding: 0.5em;
    margin-left: 0em;
    margin-bottom: 0em;
    border-radius: 0.4em;
}
.div-options{
    margin-top: -3em;
    padding: 1em;

}