.court-option, .zone-option{
    padding-left:2em;
    padding-right:2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.choice-borer{
    padding:1em;
    border:0.1em solid #077aacdd ;
    border-radius:1em;
}
.workstation-category{
   border:0.1em solid #04abf3;
    border-radius:2.5em;
    /* height:3em; */
    padding:1em;
}
.right-span{
    margin-left:1em;
}