<div class="responsive p-0">
   


    <form *ngIf="general.formart" (ngSubmit)="addSkills()" #userForm="ngForm">
        <div class="row">
         
            <div class="col-xl-12 col-lg-12 col-md-12 ">
                <label for="icon">Personal Skill(s): </label>
                <div class="form-group mb-3">
                    <ng-select [(ngModel)]="data.skills_id" name="skills_id" [multiple]="true" [clearable]="true" [clearOnBackspace]="false" required>
                        <ng-option value="" disabled Selected>Choose Skills</ng-option>
                        <ng-container *ngFor="let skills of skillsDetails">
                            <ng-option  value="{{skills.id}}" >{{skills.name}}</ng-option>
                             <option  value="dependants" >Other Dependants</option>
                      

                        </ng-container>

                    </ng-select>
                </div>
            </div>
           
        </div>
        <br>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <button *ngIf="general.bfrcreating" type="submit" class="btn btn-outline-primary rounded-pill w-50 float-end" [disabled]="!userForm.valid">Submit</button>
                <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill w-50 float-end" type="button " disabled>
          <span class="spinner-border spinner-border-sm" role="status " aria-hidden="true "></span>
          Registering...
        </button>
            </div>

        </div>
    </form>
</div>