/* @media screen and (min-width: 360px) {}

@media screen and (min-width: 760px) {}

@media screen and (min-width: 1000px) {
  @import url("https://fonts.googleapis.com/css?family=PT+Mono");
  html {
    box-sizing: border-box;
    font: 18px PT Mono;
    background: antiquewhite;
  }

  .text-center{
    height:3em;
    margin-bottom:0.2em;
    background-color:#dc143c;
    border-radius:0.4em;
    color:#ffff;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  
  .box {
    width: 100%;
    min-width: 250px;
    display: block;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    background: #0662a0;
    margin-bottom: 40px;
    padding: 15px 25px 0 40px;
    color: rgb(249, 249, 249);
    box-shadow: 1px 2px 1px -1px #777;
    transition: background 200ms ease-in-out;
  }
  
  .shadow {
    position: relative;
  }
  .shadow:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 13px;
    right: 7px;
    width: 25%;
    top: 0;
    box-shadow: 0 15px 10px #777;
    transform: rotate(4deg);
    transition: all 150ms ease-in-out;
  }
  
  .box:hover { 
     background: #033f67;
     color: #fff;
  }
  
  .shadow:hover::before {
    transform: rotate(0deg);
    bottom: 20px;
    z-index: -10;
  }
  
  .circle {
    position: absolute;
    top: 14px;
    left: 15px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px #4f6a9f;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  .forgeot-password{
    color:#fff;
    text-align: center;
  }
  
  
  
 
}   */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 1s ease-in-out left;
    -moz-transition: 1s ease-in-out left;
    -o-transition: 1s ease-in-out left;
    transition: 1s ease-in-out left;
}
.carousel-item {
	transition: transform 1s ease-in;
  }
  .image-container-slide{
	max-width:16em;
	min-width:16em;
	min-height:12em;
	max-height: 12em;
  }

* {
	box-sizing: border-box;
}
.w-5{
  width:4.5em;
}
body {
	background: #f3e0e2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 60em;
	max-width: 100%;
	min-height: 26em;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 50%;
	width: 50%;
	
}


.overlay-container {
  z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}


.overlay {
	background:#dc143c;
	background: -webkit-linear-gradient(to right, #dc143c);
	background: linear-gradient(to right,#dc143c);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}