<div class="responsive p-0">
    <form *ngIf="general.formart" (ngSubmit)="employmentDetails()" #userForm="ngForm">
<!-- {{userForm.value|json}} -->
        <div class="row">
           <div class="col-xl-6 col-lg-6 col-md-12 ">
                <label for="check_number">Check Numbers</label>
                <div class="form-group mb-3">
                    <input type="number" class="form-control" id="check_number" [(ngModel)]="data.check_number" name="check_number" placeholder="xxxxxxx" first_name required />
                </div>
            </div>
           <div class="col-xl-6 col-lg-6 col-md-12 ">
                <label for="check_number">PF Number</label>
                <div class="form-group mb-3">
                    <input type="number" class="form-control" id="pf_number" [(ngModel)]="data.pf_number" name="pf_number" placeholder="xxxxx" first_name required />
                </div>
            </div>

            <div class="col-md-6">
                <label for="hired_date">Hired Date</label>
                <div class="form-group mb-3">
                    <input type="date" class="form-control" id="hired_date" [(ngModel)]="data.hired_date" name="hired_date" placeholder="Hired Date" hired_date required />
                </div>
            </div>
         
           <div class="col-xl-6 col-lg-6 col-md-12 ">
                <label for="confirmation_date">Confirmation Date</label>
                <div class="form-group mb-3">
                    <input type="date" class="form-control" id="confirmation_date" [(ngModel)]="data.confirmation_date" name="confirmation_date" placeholder="confirmation Date" confirmation_date required />
                </div>
            </div>


            <div class="col-xl-6 col-lg-6 col-md-12 ">
                <label for="icon">Designation Name: </label>
                <div class="form-group mb-3">
                    <ng-select [(ngModel)]="data.designation_id" name="designation_id" [clearable]="true" [clearOnBackspace]="false" required>
                        <ng-option value="" disabled Selected>Choose Designation</ng-option>
                        <ng-container *ngFor="let cadre of designationDetails">
                            <ng-option  value="{{cadre.id}}">{{cadre.name}}</ng-option>
                        </ng-container>

                    </ng-select>
                </div>
            </div>

           <div class="col-xl-6 col-lg-6 col-md-12 ">
                <label> Upload Hiring Latter</label>
                <input type="file" class="form-control" [(ngModel)]="data.hired_latter" name="hired_latter"
                    (change)="fileHiringUpload($event)" required />
            </div>

           <div class="col-xl-6 col-lg-6 col-md-12 ">
                <label> Upload Confirmation Latter</label>
                <input type="file" class="form-control" [(ngModel)]="data.confirmation_letter" name="confirmation_later"
                    (change)="fileConfirmationUpload($event)" required />
            </div>

            <!-- <div class="col-xl-6 col-lg-6 col-md-12 ">
                <label for="icon">Designation Reason Designation: </label>
                <div class="form-group mb-3">
                    <ng-select [(ngModel)]="data.change_designation_id" name="change_designation_id" [clearable]="true" [clearOnBackspace]="false" required>
                        <ng-option value="" disabled Selected>Choose Designation</ng-option>
                        <ng-container *ngFor="let designation_chenge of designation_chenge_details">
                            <ng-option  value="{{designation_chenge.id}}">{{designation_chenge.reason_change_designation}}</ng-option>
                        </ng-container>
                    </ng-select>
                </div>
            </div> -->
        </div>
     


        
        <br>
        <div class="row">
           <div class="col-xl-6 col-lg-6 col-md-12 "></div>
           <div class="col-xl-6 col-lg-6 col-md-12 ">
                <button *ngIf="general.bfrcreating" type="submit" class="btn btn-outline-primary rounded-pill w-50 float-end" [disabled]="!userForm.valid">Submit</button>
                <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill w-50 float-end" type="button " disabled>
          <span class="spinner-border spinner-border-sm" role="status " aria-hidden="true "></span>
          Registering...
        </button>
            </div>

        </div>
    </form>
</div>