<div class="responsive p-0">
    <p class="text-muted ">Office Details.</p>
    <form *ngIf="general.formart" (ngSubmit)="userRegistration()" #userForm="ngForm">

        <div class="row">
            <div class="col-md-6">
                <label for="majukumu">Working Station:</label>
                <div class="form-group mb-3">
                    <ng-select [(ngModel)]="data.working_station_id" [multiple]="true" name="working_station_id" placeholder="Chagua System Roles" [clearable]="true" [clearOnBackspace]="false" required>
                        <ng-option value="" disabled Selected>Choose Station</ng-option>
                        <ng-container *ngFor="let roles of permission.role_list">
                            <ng-option *ngIf="roles.active" value="{{roles.id}}">{{roles.name}}</ng-option>
                        </ng-container>

                    </ng-select>
                </div>
            </div>
          
         
            <div class="col-md-6">
                <label for="station_assignment_date">Station Assignment Date</label>
                <div class="form-group mb-3">
                    <input type="date" class="form-control" id="station_assignment_date" [(ngModel)]="data.station_assignment_date" name="station_assignment_date" placeholder="Station Assignment Date" station_assignment_daterequired />
                </div>
            </div>
           
        

            
        </div>


        <br>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <button *ngIf="general.bfrcreating" type="submit" class="btn btn-outline-primary rounded-pill w-50 float-end" [disabled]="!userForm.valid">Submit</button>
                <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill w-50 float-end" type="button " disabled>
          <span class="spinner-border spinner-border-sm" role="status " aria-hidden="true "></span>
          Inasajili...
        </button>
            </div>

        </div>
    </form>
</div>