<p class="text-muted text-center">Badili neno la siri</p>
<form (ngSubmit)="changePassword()" #resetPassForm=ngForm>
    <label class="text-black">Neno la siri jipya</label>
    <div class="mb-3">
        <input type="password" class="form-control" [(ngModel)]="data.password" name="password" placeholder="Password" aria-label="Password" aria-describedby="password-addon" required>
    </div>
    <label class="text-black">Hakiki neno la siri</label>
    <div class="mb-3">
        <input type="password" class="form-control" [(ngModel)]="data.confirmPassword" name="confirmPassword" placeholder="Confirm Password" aria-label="Password" aria-describedby="password-addon" required>
    </div>
    <div class="text-center">
        <button *ngIf="general.bfrcreating" type="submit" class="btn btn-outline-primary rounded-pill btn-block w-50" [disabled]="!resetPassForm.valid">Badili neno la siri</button>

        <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill btn-block w-50" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Inabadili...
          </button>
    </div>


</form>