<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="wrapper">
        <app-sidebar></app-sidebar>
        <div class="content-page">
            <div class="content">
                <div class="row">
                    <div class="card col-12">
                        <div class="card-header fw-bold">
                            <h5><a class="float-end" routerLink="/edit-my-profile"><i class="fal fa-user-edit fa-2x"></i></a>Taarifa Binafsi</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-profile-view></app-profile-view>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>