<div class="responsive mt-3 p-0">

    <ng-container *ngFor="let access of permission?.action_access">
        <div class="row mb-3" *ngIf="access =='add-workstation'">
            <!-- <div class="col-md-8">
                
                <a routerLink="/add-workstation/{{submoduleId}}" class="btn btn-outline-dark rounded-pill"><i class="fal fa-plus fa-lg"></i> Add Workstation</a>
            </div> -->
            <div class="col-md-8">
                <h5><button type="button" class="btn btn-outline-primary rounded-pill " data-bs-toggle="modal" data-bs-target="#add_workstation">Add workstation</button></h5>
      </div>
            <div class="col-md-4"></div>
        </div>
    </ng-container>
    <div class="table-responsive">

        <table class="table table-sm mb-0 table-responsive" id="dataTables">
            <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th>Workstation Name</th>
                    <th>Workstation Code</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workstation of workstationList; let i = index">
                    <td>{{1+i}}</td>

                    <td>{{workstation.name}}</td>
                    <td>{{workstation?.display_name ?? 'Private'}}</td>
            
                    <td class="table-action">
                        <ng-container *ngFor="let access of permission?.action_access">
                            <a *ngIf="access =='edit-workstation'" href="/edit-workstation/{{workstation?.uid}}/{{submoduleId}}" class="action-icon" title="Change Details"> <i class="mdi mdi-pencil"></i></a>
                            <a *ngIf="workstation?.active && access =='deactivate-workstation'" href="#deactivate_workstation" data-bs-toggle="modal" (click)="showWorkstation(workstation?.id)" class="action-icon" title="Deactivate"> <i class="mdi mdi-close-circle"></i></a>
                            <a *ngIf="!workstation?.active && access =='activate-workstation'" href="#activate_workstation" data-bs-toggle="modal" (click)="showWorkstation(workstation?.id)" class="action-icon" title="Activate"> <i class="mdi mdi-check-circle"></i></a>
                            <a *ngIf="access =='view-workstation'" href="/workstation/{{workstation?.id}}/{{workstation.id}}" class="action-icon" title="workstation ndogo"> <i class="mdi mdi-eye"></i></a>
                        </ng-container>
                    </td>




                    <div id="activate_workstation" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                    
                                <div class="modal-header modal-colored-header bg-dark">
                                    <h4 class="modal-title" id="dark-header-modalLabel"><i class="fal fa-radiation fa-lg fa-spin"></i>&nbsp;Warning...!</h4>
                                    <button type="button" class="btn btn-link text-white ml-auto" data-bs-dismiss="modal">Close</button>
                                </div>
                    
                    
                                <div class="modal-body text-center" style="margin-top: 5%">
                                    <i class="text-black">You are about to allow the addition of this workstation?</i><br>
                                    <b class="text-black">{{workstation?.name}}</b>
                                </div>
                    
                    
                                <div class="modal-footer d-flex justify-content-center mb-3">
                                    <button *ngIf="general.bfrcreating" (click)="activate(workstation_data.id)" data-bs-dismiss="modal" class="btn btn-outline-primary rounded-pill"> Yes Allow</button>
                                    <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    It's Loading...
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="activate_workstation" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="dark-header-modalLabel"><i class="fal fa-radiation fa-lg fa-spin"></i>&nbsp;Warning...!</h4>
                <button type="button" class="btn btn-link text-white ml-auto" data-bs-dismiss="modal">Close</button>
            </div>


            <div class="modal-body text-center" style="margin-top: 5%">
                <i class="text-black">You are about to allow the addition of this workstation{{workstationDetails?.id}}?</i><br>
                <b class="text-black">{{workstationDetails?.name}}</b>
            </div>


            <div class="modal-footer d-flex justify-content-center mb-3">
                <button *ngIf="general.bfrcreating" (click)="activate(workstation_data.id)" data-bs-dismiss="modal" class="btn btn-outline-primary rounded-pill"> Yes Activate</button>
                <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                It's Loading...
              </button>

            </div>
        </div>
    </div>
</div>

<div id="deactivate_workstation" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="dark-header-modalLabel"><i class="fal fa-radiation fa-lg fa-spin"></i>&nbsp;Warning...!</h4>
                <button type="button" class="btn btn-link text-white ml-auto" data-bs-dismiss="modal">Close</button>
            </div>


            <div class="modal-body text-center" style="margin-top: 5%">
                <i class="text-black">You are going to deactivate the workstation from being viewd to the public?</i><br>
                <b class="text-black">{{workstationDetails?.id}}</b>
            </div>


            <div class="modal-footer d-flex justify-content-center mb-3">
                <button *ngIf="general.bfrcreating" class="btn btn-outline-primary rounded-pill" data-bs-dismiss="modal" (click)="deactivate(workstationDetails?.id)"> Yes Deactivate</button>
                <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Inazuia...
              </button>

            </div>
        </div>
    </div>
</div>