<div class="responsive p-0">
    <form *ngIf="general.formart" #userForm="ngForm">
        <!-- {{userForm.value|json}} -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 ">
                <label for="roles">Role:</label>
                <div class="form-group mb-3">
                    <ng-select [(ngModel)]="data.roles" [multiple]="true" name="roles"
                        placeholder="Chagua System Roles" [clearable]="true" [clearOnBackspace]="false" required>
                        <ng-option value="" disabled Selected>Choose Roles</ng-option>
                        <ng-container *ngFor="let roles of permission.role_list">
                            <ng-option *ngIf="roles?.active" value="{{roles?.id}}">{{roles?.name}}</ng-option>
                        </ng-container>

                    </ng-select>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 ">

                <div>
                    <input type="button" *ngIf="general.bfrcreating" type="submit"
                        class="btn btn-outline-primary rounded-pill form-control w-50 float-end"
                     value="Submit" (click)="userRegistration(details.data.email,details.data.name,details.data.uid,details?.data?.id)">
                    <button *ngIf="general.creating"
                        class="btn btn-outline-primary rounded-pill w-50 form-control float-end" type="button "
                        disabled>
                        <span class="spinner-border spinner-border-sm" role="status " aria-hidden="true "></span>
                        Registering...
                    </button>
                </div>

            </div>


        </div>
    </form>
</div>