<div class="responsive p-0">
    <form *ngIf="general.formart" (ngSubmit)="educationRegistration(employeeDetails?.data?.id,employeeDetails?.data?.personal_folder)" #userForm="ngForm">
        <div class="row">
            
            <div class="col-xl-4 col-lg-4 col-md-12 ">
                <label for="roles">Education Level:{{uid}}</label>
                <div class="form-group mb-3">
                    <ng-select [(ngModel)]="data.level_id"  name="level_id"
                        placeholder="Choose Education Level" [clearable]="true" [clearOnBackspace]="false" required>
                        <ng-option value="" disabled Selected>Choose Level</ng-option>
                        <ng-container *ngFor="let level of levelDetails">
                            <ng-option *ngIf="level?.active" value="{{level?.id}}">{{level?.name}}</ng-option>
                        </ng-container>

                    </ng-select>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 ">
                <label for="roles">Specialization:</label>
                <div class="form-group mb-3">
                    <ng-select [(ngModel)]="data.specialization_id"  name="specialization_id"
                        placeholder="Choose specialization" [clearable]="true" [clearOnBackspace]="false" required>
                        <ng-option value="" disabled Selected>Choose Specialization</ng-option>
                        <ng-container *ngFor="let specialization of specializationDetails">
                            <ng-option *ngIf="specialization?.status" value="{{specialization?.id}}">{{specialization?.name}}</ng-option>
                        </ng-container>

                    </ng-select>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 ">
                <label for="roles">Institution Name:</label>
                <div class="form-group mb-3">
                    <ng-select [(ngModel)]="data.institution_id"  name="institution_id"
                        placeholder="Choose institution Name" [clearable]="true" [clearOnBackspace]="false" required>
                        <ng-option value="" disabled Selected>Choose Institution</ng-option>
                        <ng-container *ngFor="let institution of institutionDetails">
                            <ng-option *ngIf="institution?.status" value="{{institution?.id}}">{{institution?.name}}</ng-option>
                        </ng-container>

                    </ng-select>
                </div>
            </div>

          
            <div class="col-md-4">
                <label for="starting_date">Start date</label>
                <div class="form-group mb-3">
                    <input type="date" class="form-control"  id="starting_date" [(ngModel)]="data.starting_date" name="starting_date" id="myDatepicker" placeholder="xxxxxxx" starting_date required >
                </div>
            </div>
          
            <div class="col-md-4">
                <label for="completion_date">Completion Date</label>
                <div class="form-group mb-3">
                    <input type="date" class="form-control"  id="completion_date" [(ngModel)]="data.completion_date" name="completion_date" id="myDatepicker" placeholder="xxxxxxx" completion_date required>
                </div>
            </div>

            <div class="col-md-4">
                <label for="result">Results</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="result" [(ngModel)]="data.result" name="result" placeholder="xxxxx" result required />
                </div>
            </div>

            <div class="col-md-4">
                <label for="index_number">Index Number</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="index_number" [(ngModel)]="data.index_number" name="index_number" placeholder="xxxxxxx" index_number required />
                </div>
            </div>
           
            <div class="col-md-4">
               
                <label> Attach Academic Certificate</label>
                <input type="file" class="form-control" [(ngModel)]="data.certificate_attachment" name="birth_certificate_attachment"
                    (change)="certificateAttachmentUpload($event)" required />
            </div>

            <div class="col-md-4">
               
                <label> Attach Transcript</label>
                <input type="file" class="form-control" [(ngModel)]="data.transcript_attachment" name="transcript_attachment"
                    (change)="transcriptAttachmentUpload($event)" required />
            </div>
           
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <button *ngIf="general.bfrcreating" type="submit" class="btn btn-outline-primary rounded-pill w-50 float-end" [disabled]="!userForm.valid">Submit</button>
                <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill w-50 float-end" type="button " disabled>
          <span class="spinner-border spinner-border-sm" role="status " aria-hidden="true "></span>
          Registering...
        </button>
            </div>

        </div>
    </form>
</div>








<select name="institute_name" id="institute_name" class="form-control js-select22">




















































































































