<div class="responsive mt-3 p-0">

    <ng-container *ngFor="let access of permission?.action_access">
        <div class="row mb-3" *ngIf="access =='add-professional'">
            <div class="col-md-8">
                    <h5><button type="button" class="btn btn-outline-primary rounded-pill " data-bs-toggle="modal" data-bs-target="#add_kin">Add Personal Skills</button></h5>
          </div>
            <div class="col-md-4"></div>
        </div>
    </ng-container>
    <!-- content  -->


    <div class="section-block-grey">
        <div class="container">
           
            <div class="row">
                <ng-container *ngFor="let skills of skillDetails; let i = index">
                    <div class="col-md-4 col-sm-12 col-12">
                        <div class="serv-section-2">
                            <div class="serv-section-2-icon"> <i class="{{skills.skill.icon}} my-icon"></i> </div>
                            <div class="serv-section-desc">
                                <h4>{{skills.skill.name}}</h4>
                                <h5>{{skills.skill.description}}</h5> </div>
                            <div class="section-heading-line-left"></div>
                        </div>
                    </div>
                </ng-container>


               
                
                
                
            </div>
        </div>
    </div>




    
</div>




<div id="add_kin" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header modal-colored-header bg_banner">
                <h4 class="modal-title" id="dark-header-modalLabel"><i class="fal fa-users fa-lg"></i>&nbsp; Personal Skills...!</h4>
                <button type="button" class="btn btn-link text-white ml-auto" data-bs-dismiss="modal">Close</button>
            </div>


            <div class="modal-body text-center" style="margin-top: 5%">
                <app-add-self-skills-details-form></app-add-self-skills-details-form>
            </div>
        </div>
    </div>
</div>

