<app-navbar></app-navbar>
<!-- Start Content-->
<div class="container-fluid">
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <app-sidebar></app-sidebar>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Maelezo Muhimu</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <!-- chat area -->
                    <div class="card col-12">
                        <div class="card-header fw-bold">
                            <h5>Maelezo muhimu ya kufanya usajili wa malalamiko/rufaa</h5>
                        </div>
                        <div class="card-body">
                            <ng-container *ngFor="let access of permission?.action_access">
                                <!-- start content-->
                                <div class="row">
                                    <div class="col-md-12" *ngIf="access=='view-maelezo-muhimu'">
                                        <app-jot-info-view></app-jot-info-view>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
            <!-- end Footer -->

        </div>
        <!-- End Content -->
    </div>
    <!-- content-page -->
</div>
<!-- end wrapper-->
<!-- END Container -->





<!-- deactive role  -->
<div id="edit_info" [hidden]="!showModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="dark-header-modalLabel"><i class="fal fa-radiation fa-lg"></i>&nbsp;Maelezo Muhimu...!</h4>
                <button type="button" class="btn btn-link text-white ml-auto" data-bs-dismiss="modal">Close</button>
            </div>

            <div class="modal-body">

                <form (ngSubmit)="editInfo()" #Form="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="deactivate_reason">Maelezo Muhimu:</label>
                            <div class="form-group mb-3">
                                <angular-editor [placeholder]="'Weka Maelezo muhimu'" id="remove_reason" [config]=" this.general.config" [(ngModel)]="data.info" [ngModelOptions]="{ standalone: true }"></angular-editor>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-outline-dark rounded-pill" (click)="Form.resetForm()" data-bs-dismiss="modal">Close</button>
                        </div>
                        <div class="col-md-6">
                            <button *ngIf="general.bfrcreating" type="submit" class="btn btn-outline-danger rounded-pill w-50 float-end" [disabled]="!Form.valid"><i class="fal fa-times fa-lg"></i> Weka Maelezo</button>
                            <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill w-50 float-end" type="button " disabled>
                            <span class="spinner-border spinner-border-sm" role="status " aria-hidden="true "></span>
                            Inaweka...
                            </button>
                        </div>
                    </div>
                </form>


            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /deactive role -->