<div class="responsive mt-3 p-0">
    <!-- content  -->
    <div class="table-responsive">

        <table class="table table-sm mb-0 " id="dataTables">
            <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th>Employee Name</th>
                    <th>Gender</th>
                    <th>Leave Types</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let leave of userList; let i = index">
                    <td>{{1+i}}</td>

                    <td>{{leave.user.name}}</td>
                    <td>{{leave.user.sex}}</td>
                    <td>{{leave?.leave_type?? 'Not Provided'}}</td>
                    <td>{{leave?.start_date | date:'dd-MM-yyy'}}</td>
                    <td>{{leave?.end_date  | date:'dd-MM-yyy'}}</td>
                    <td>
                        <span *ngIf="leave?.leave_status =='default'" class="badge badge-secondary-lighten">inprogress</span>
                        <span *ngIf="leave?.leave_status =='true123'" class="badge badge-primary-lighten">accepted</span>
                        <span *ngIf="leave?.leave_status =='false123'" class="badge badge-danger-lighten">rejected</span>
                    </td>
                    <td class="table-action">
                        <ng-container *ngFor="let access of permission?.action_access">
                            <a *ngIf="access =='view-employee-detai-leave'" href="/show-leave/{{leave.user.uid}}/{{leave.uid}}" class="action-icon" title="leave ndogo"> <i class="mdi mdi-eye"></i></a>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- end content  -->

</div>




<!-- active   -->

<!-- /.modal -->
<!-- /deactive  -->






