@media screen and (min-width: 600px) {
   
 .w-5{
   width:4.5em;
 }

    .text-div {
       text-align: center;
       margin-top: 0.6rem;
       font-size: 2.2rem;
       color: #fff;
    }
 
    .main-body {
       overflow: hidden;
       height: 39.2rem;
       background-color: #fff;
    }
.top-banner{
   margin-bottom:0;
}

    .card-body-ui {
       border-radius: 2px !important;
       /* text-align: center; */
       padding-left: 1rem;
    }
    .hrmis-title{
       padding-left:4rem;
    }
    .hrmis-logo{
       padding-left: 4rem;
    }
    .hrmis-logo-image{
       width:20rem;
    }
 
    .home-title {
       width: 80%;
    }
 
    .top-banner {
       height: 4rem;
       background-color: #bd0e0e;
       /* margin-bottom: 1rem; */
    }
 }
 
 
 