<div class="responsive p-0">
    <div class="advertisement-form">
        <form (ngSubmit)="registerAttachment()" #attachmentForm=ngForm>
            <!-- {{attachmentForattachment_detailsm.valation_detailsue|json}} -->
            <div class="row">
                <div class="col-md-12">
                    <label> Attachment Name*:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="attachment_name" placeholder="Enter Attachment Name"
                        [(ngModel)]="attachment_details.attachment_name" attachment_name required>
                    </div>
                    
                </div>
                <div class="col-md-12">
                    <label>Description*:</label>
                    <div class="form-group">
                        <textarea type="text" class="form-control" type="text" name="description" placeholder="Enter  "
                        [(ngModel)]="attachment_details.description"></textarea>
                    </div>
                    
                </div>

               
            </div>

            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <button *ngIf="bfrcreating" type="submit"
                        class="btn btn-primary btn-lg w-100 exit" [disabled]="!attachmentForm.valid">
                        Add Attachment</button>
                    <button *ngIf="creating" class="btn bg-gradient-primary btn-lg w-100"
                        type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Attachment Creating...
                    </button>
                </div>
            </div>
        </form>
    </div>

   
</div>