<form (ngSubmit)="forgotPassword()" #loginForm=ngForm>

    <div class="mb-3 text-black">
        <label for="emailaddress" class="form-label">Barua pepe</label>
        <input class="form-control" [(ngModel)]="data.email" name="email" type="email" id="emailaddress" placeholder="barua pepe" required>
    </div>


    <div class="mb-3 mb-0 text-center">
        <button *ngIf="general.bfrcreating" class="btn btn-outline-primary rounded-pill btn-block w-50" type="submit" [disabled]="!loginForm.valid"> Badili neno la siri </button>
        <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill btn-block w-50" type="button" disabled>
            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
            Inabadili...
          </button>
    </div>

</form>