<app-navbar></app-navbar>
<!-- Start Content-->
<div class="container-fluid">
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <app-sidebar></app-sidebar>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">System Roles</li>
                                    <li class="breadcrumb-item active">Add majukumu</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Mamlaka ya Nidhamu</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <!-- chat area -->
                    <div class="card col-12">
                        <div class="card-header fw-bold">
                            <h5><a class="float-end" routerLink="/institution-roles"><i class="fal fa-arrow-circle-left fa-2x"></i></a>Add majukumu</h5>
                        </div>
                        <div class="card-body">
                            <!-- start content-->
                            <div class="row">
                                <div class="col-md-12">
                                    <app-add-institution-role-form></app-add-institution-role-form>
                                </div>
                            </div>
                            <!-- end content-->
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card-->
                    <!-- end card-->
                </div>
                <!-- end col -->
                <!-- end user detail -->
            </div>

            <!-- end row-->

            <!-- Footer Start -->
            <app-footer></app-footer>
            <!-- end Footer -->

        </div>
        <!-- End Content -->
    </div>
    <!-- content-page -->
</div>
<!-- end wrapper-->
<!-- END Container -->