.progress-card{
    background-color:bisque;
    border-radius:0.1em;
    height:34em;
    width:26%;
    float:left;
    margin-right:1%;
    box-shadow: 1px 1px 0px 1px rgb(203, 201, 201);
}
.employee-form{
    width:100%;
    float:right;
    border:1px solid #cac9c9;
    padding:1em;
    border-radius:1em;
}
.system-submodule{
    margin-top:0.6em;
    border-radius:0.4em;
    border:1px solid #0688ce;
    max-width:14em;
    min-width:14em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}