<div class="responsive mt-3 p-0">

    <ng-container *ngFor="let access of permission?.action_access">
        <div class="row mb-3" *ngIf="access =='add-modules'">
            <div class="col-md-8">
                <a routerLink="/add-my-leave/{{submoduleId}}" class="btn btn-outline-dark rounded-pill"><i class="fal fa-plus fa-lg"></i> Appy For Leave</a>
            </div>

            <div class="col-md-4"></div>
        </div>
    </ng-container>
    <!-- content  -->
    <div class="table-responsive">

        <table class="table table-sm mb-0 table-responsive" id="dataTables">
            <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Number Of Days</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let module of my_leave_List; let i = index">
                    <td>{{1+i}}</td>
                    <td>{{module?.leave_type}}</td>
                    <td>{{module?.start_date | date:'dd-MM-yyy'}}</td>
                    <td>{{module?.end_date  | date:'dd-MM-yyy'}}</td>
                    <td>numberOfDays</td>
                    <td>
                        <span *ngIf="module?.active" class="badge badge-primary-lighten">Active</span>
                        <span *ngIf="!module?.active" class="badge badge-danger-lighten">Inactive</span>
                    </td>
                    <td class="table-action">
                        <ng-container *ngFor="let access of permission?.action_access">
                            <a *ngIf="access =='edit-modules'" routerLink="/edit-jot-setting-module/{{module?.uid}}/{{submoduleId}}" class="action-icon" title="Change Details"> <i class="mdi mdi-pencil"></i></a>
                            <a *ngIf="module?.active && access =='deactivate-modules'" href="#deactivate_module" data-bs-toggle="modal" (click)="showMyLeave(module?.uid)" class="action-icon" title="Deactivate"> <i class="mdi mdi-close-circle"></i></a>
                            <a *ngIf="!module?.active && access =='activate-modules'" href="#activate_module" data-bs-toggle="modal" (click)="showMyLeave(module?.uid)" class="action-icon" title="Acivate"> <i class="mdi mdi-check-circle"></i></a>
                            <a *ngIf="access =='view-submodules-list'" href="/jot-setting-submodules/{{module?.uid}}/{{submoduleId}}" class="action-icon" title="module ndogo"> <i class="mdi mdi-eye"></i></a>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- end content  -->

</div>


<!-- active   -->
<div id="activate_module" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="dark-header-modalLabel"><i class="fal fa-radiation fa-lg fa-spin"></i>&nbsp;Warning...!</h4>
                <button type="button" class="btn btn-link text-white ml-auto" data-bs-dismiss="modal">Close</button>
            </div>


            <div class="modal-body text-center" style="margin-top: 5%">
                <i class="text-black">You are about to allow the addition of this module?</i><br>
                <b class="text-black">{{module_data?.name}}</b>
            </div>


            <div class="modal-footer d-flex justify-content-center mb-3">
                <button *ngIf="general.bfrcreating" (click)="activate(module_data?.uid)" data-bs-dismiss="modal" class="btn btn-outline-primary rounded-pill"> Yes Activate</button>
                <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                It's Loading...
              </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /active  -->


<!-- deactive   -->
<div id="deactivate_module" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header modal-colored-header bg-dark">
                <h4 class="modal-title" id="dark-header-modalLabel"><i class="fal fa-radiation fa-lg fa-spin"></i>&nbsp;Warning...!</h4>
                <button type="button" class="btn btn-link text-white ml-auto" data-bs-dismiss="modal">Close</button>
            </div>


            <div class="modal-body text-center" style="margin-top: 5%">
                <i class="text-black">Una uhakika unataka kuzuia module hii kutumika kwenye mfumo ?</i><br>
                <b class="text-black">{{module_data?.name}}</b>
            </div>


            <div class="modal-footer d-flex justify-content-center mb-3">
                <button *ngIf="general.bfrcreating" class="btn btn-outline-primary rounded-pill" data-bs-dismiss="modal" (click)="deactivate(module_data?.uid)"> Yes Deactivate</button>
                <button *ngIf="general.creating" class="btn btn-outline-primary rounded-pill" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Inazuia...
              </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /deactive  -->