<div class="row">
    <ng-container *ngFor="let access of permission?.action_access">
        <div class="employee-form" *ngIf="access =='add-employee-detail'">
            <ng-container >
                <div class="table-responsive p-0">
                    <ng-container *ngFor="let access of permission?.action_access">
                        <div class="row mb-3" *ngIf="access =='add-court-level'">
                            <div class="col-md-8">
                                    <h5><button type="button" class="btn btn-outline-primary rounded-pill " data-bs-toggle="modal" data-bs-target="#update_role">Update User System Role</button></h5>
                          </div>
                            <div class="col-md-4"></div>
                        </div>
                    </ng-container>
                    <table class="table table-hover"
                        id="dataTables">
                        <tbody class="text-black">
                    
                            <tr>
                                <td><b>Employee System Role(S)</b>:</td>
                                <td>
                                    <span *ngIf="details?.data?.active"
                                        class="badge badge-outline-success">Active
                                        Employee</span>
                                    <span *ngIf="!details?.data?.active"
                                        class="badge badge-outline-danger">Innactive
                                        Employee</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </div>

        <div id="update_role" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
        
                    <div class="modal-header modal-colored-header bg-primary">
                        <h4 class="modal-title" id="dark-header-modalLabel"><i class="fal fa-stroopwafel fa-lg fa-spin"></i>&nbsp;Heearing You...!</h4>
                        <button type="button" class="btn btn-link text-white ml-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                    <div class="form-control">
                        <app-add-employee-assignment-form></app-add-employee-assignment-form>
                    </div>
                    
                </div>
            </div>
    
        </div>

    </ng-container>
</div>