<div class="our_letter">
    <div class="container bg-light details">
        <br>
        <h4 style="text-align:center;"><strong>JAMUHURI YA  <u>MUUNGANO</u> WA TANZANIA</strong></h4>
  <h3 style="text-align:center;"><strong>TANZANIA</strong></h3>
        <form>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example2">Mtendaji wa Mahakama,</label>
              <label class="form-label" for="form6Example2">Mahakama Kuu Morogoro</label>
              <label class="form-label" for="form6Example2">12 Mahakama Road,</label>
              <label class="form-label" for="form6Example2">S.L.P 1234</label>
              <label class="form-label" for="form6Example2">Morogoro, Tanzania</label> <br>
              <label class="form-label " for="form6Example2"><strong class="bold">Kumb.Na.</strong>PF.18809/18</label><br>
              <label class="form-label " for="form6Example2">Bi. Beatrice Jika</label><br>
              <label class="form-label" for="form6Example2"><strong class="bold">AFISA TEHAMA II</strong></label><br>
                <label class="form-label" for="form6Example2">K.K</label>
                <label class="form-label" for="form6Example2"  style=" padding-left: 10px;">Mkurugenzi wa TEHAMA,</label><br>
                <label class="form-label" for="form6Example2"  style=" padding-left: 40px;">Mahakama Kuu Morogoro</label><br>
                <label class="form-label" for="form6Example2"  style=" padding-left: 40px;">S.L.P   1234 Kionda</label><br>
                <label class="form-label" for="form6Example2"  style=" padding-left: 40px;">Morogoro, Tanzania</label>
            </div>
          </div>
          <div class="col" >
            <div class="form-outline" style=" padding-left: 110px;">
             <img src="../../../assets/images/brands/logo.png" style="position: relative; height: 80px;">
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <label class="form-label" for="form6Example2">Mtendaji wa Mahakama,</label>
              <label class="form-label" for="form6Example2">Mahakama Kuu Morogoro</label>
              <label class="form-label" for="form6Example2">12 Mahakama Road,</label>
              <label class="form-label" for="form6Example2">S.L.P 1234</label>
              <label class="form-label" for="form6Example2">Morogoro, Tanzania</label><br>
              <label class="form-label" for="form6Example2">20 May 2023</label>
            </div>
          </div>
        </div>
          <h5 style="text-align: center;">Yah:<strong><u>KIBALI CHA KUSTAAFU KWA LAZIMA KATIKA UTUMISHI WA MAHAKAMA</u></strong></h5>
      <!-- Message input -->
      <div class="form-outline mb-4" style=" padding-left: 80px;">
        <label class="form-label" for="form6Example7" >Rejea Kichwa Cha habari Tajwa Hapo juu</label><br>
        <label class="form-label" for="form6Example7" >2.  Napenda kukufahamisha kwamba kwa mujibu wa kifungu Na. 25 cha Sheria Na. 2 ya Mwaka 2018 ya Mfuko wa Hifadhi ya
            Jamii kwa Watumishi wa Umma Sura Na.135 ikisomwa pamoja na Kanuni ya 41(1) ya Kanuni za Jumla za Uendeshaji wa Mahakama,
            Toleo la Mwaka 2021, unapaswa kustaafu kwa lazima ifikapo tarehe <b style="color:red;">19/03/2024</b>.
             Kufuatia kibali hicho utapaswa kuchukua likizo ya kujiandaa kustaafu mwezi mmoja (1) kabla ya tarehe ya kustaafu.</label>
        <label class="form-label">3.  Kwa niaba ya Mahakama ya Tanzania, napenda kukushukuru kwa utumishi wako kama <b style="color:red;">Hakimu</b>. Hakika utakumbukwa kwa bidii, maarifa, kujitolea na ujuzi ulioonesha kwa muda wote wa utumishi wako.
             Pamoja na barua imeambatishwa orodha ya nyaraka unazopaswa kuwasilisha kwa ajili ya malipo ya mafao.</label>
    </div>
    <h4  style="text-align: center;">_ _ _ _ _ _ _ _ _ _ _</h4><br>
    <h4  style="text-align: center;"><strong>Mtendaji wa Mahakama</strong></h4>
    <div class="col">
        <div class="form-outline">
            <label style="padding-left:10px;"><b>Nakala:</b></label>
          <label class="form-label" for="form6Example2" style="padding-left:5px;">Katibu Mkuu,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;">Ofisi ya Rais,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;">Menejimenti ya Utumishi wa Umma na Utawala Bora,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;">Mji wa Serikali Mtumba,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;">S.L.P. 670,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;"><b>40404 DODOMA.</b>  - Kwa Ajili ya Maandalizi ya Mbadala wa Mtumishi Huyu Mwenye Cheki Namba. <b style="color:red;">5185838</b></label>
        </div>
      </div><br><br>
      <div class="col">
        <div class="form-outline">
            <label style="padding-left:10px;"><b>“</b></label>
          <label class="form-label" for="form6Example2" style="padding-left:60px;">Mkurugenzi Mkuu,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;">Mfuko wa Hifadhi ya Jamii kwa</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;">Watumishi wa Umma (PSSSF),</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;">Jengo la PSSSF Barabara Makole,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;"> S.L.P 1501,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;"><b>DODOMA.</b>     -    Kwa Ajili ya Maandalizi ya Mafao ya Mtumishi Huyu Mwenye Cheki Namba.  <b style="color:red;">5185838</b></label>
        </div>
      </div><br><br>
      <div class="col">
        <div class="form-outline">
            <label style="padding-left:10px;"><b>“</b></label>
          <label class="form-label" for="form6Example2" style="padding-left:60px;">Mtendaji wa Mahakama Kuu,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;">Mahakama Kuu ya Tanzania,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;">2Mtaa Wa Mahakama,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;">S.L.P 2757,</label><br>
          <label class="form-label" for="form6Example2" style="padding-left:75px;"><b>41104 TAMBUKARELI DODOMA.</b>-Kwa Taarifa na Usaidizi Stahiki Wakati wa
            Maandalizi Haya.</label>
        </div>
      </div>
      </form>
      </div>
    </div>